<!DOCTYPE html>
<html>
  <head>
    <title>Callisto</title>
    <link
      href="{{ url_for('static', filename='css/styles.css')}}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1>Callisto</h1>
      <div>
        <button class="score" style="background-color: red">0</button>
        <button class="score" style="background-color: rgb(15, 255, 2)">
          0
        </button>
        <button class="score" style="background-color: rgb(0, 247, 255)">
          0
        </button>
        <button class="score" style="background-color: rgb(255, 132, 0)">
          0
        </button>
      </div>
      <div class="board">
        {% for row in range(20) %} {% for col in range(20) %} {% if row >= 20 /
        2 - 3 and row <= 20 / 2 + 2 and col >= 20 / 2 - 3 and col <= 20 / 2 + 2
        and 20 / 2 - 1 - row + 20 / 2 - 1 - col <= 2 and 20 / 2 - 1 - row + col
        - 20 / 2 <= 2 and row - 20 / 2 + 20 / 2 - 1 - col <= 2 and row - 20 / 2
        + col - 20 / 2 <= 2 %}
        <div class="cell blue" id="{{ row }}_{{ col }}"></div>
        {% elif row + col <= 6 or (row >= 20 - 6 and col <= row - 20 + 6) or row
        + col >= 32 or (row <= 6 and col >= 13 and col - row >= 13)%}
        <div class="cell dark-blue" id="{{ row }}_{{ col }}"></div>
        {% else %}
        <div class="cell" id="{{ row }}_{{ col }}"></div>
        {% endif %} {% endfor %} {% endfor %}
      </div>
      <div class="button-container">
        <div>
          <button class="player-one" onclick="togglePiece('W')">W (1)</button>
          <button class="player-one" onclick="togglePiece('+')">+ (1)</button>
          <button class="player-one" onclick="togglePiece('T')">T (1)</button>
          <button class="player-one" onclick="togglePiece('U')">U (1)</button>
          <button class="player-one" onclick="togglePiece('L')">L (2)</button>
          <button class="player-one" onclick="togglePiece('Short T')">
            Short T (2)
          </button>
          <button class="player-one" onclick="togglePiece('Z')">Z (2)</button>
          <button class="player-one" onclick="togglePiece('Square')">
            Square (2)
          </button>
          <button class="player-one" onclick="togglePiece('Turn')">
            Turn (2)
          </button>
          <button class="player-one" onclick="togglePiece('1x3')">
            1x3 (2)
          </button>
          <button class="player-one" onclick="togglePiece('1x2')">
            1x2 (2)
          </button>
          <button class="player-one" onclick="togglePiece('New Base')">
            New Base (3)
          </button>
        </div>
        <div>
          <button class="player-one" onclick="rotateRight()">
            Rotate Right ↻
          </button>
          <button class="player-one" onclick="rotateLeft()">
            Rotate Left ↺
          </button>
          <button class="player-one" onclick="flip()">Flip</button>
          <button class="player-one" onclick="passTurn()">Pass</button>
        </div>
        <div>
          <h2>Instructions</h2>
          <p>
            The board is a 20×20 board removing the corners (dark blue) such
            that an octagon with a top edge of size six remains. The pieces are
            a subset of the polyominoes up to size five. They include three 1×1
            pieces per player that play a special role. The 1×1 pieces may be
            placed anywhere on the board apart from the center of the board
            (blue). The center consists of an octagon with width six and top
            edge size two. The first two moves of a player must use a 1×1 piece,
            the third 1×1 piece may be played anytime later. All larger pieces
            may be placed anywhere on the board but must touch an existing piece
            of the same color edge-to-edge. The score of a color is the number
            of squares on the board occupied by the color not counting 1×1
            pieces.
          </p>
          <p>
            1. The first phase consists going in order placing your first base
            (it must be placed on a white square)
          </p>
          <p>
            2. The first phase consists going in order placing your second base
            (it must be placed on a white square)
          </p>
          <p>
            3. Now you are able to place any piece on the board so long as you
            have the piece in your inventory, your piece is in bounds, and it
            touches a piece of the same colour adjacentyly (up, down, left,
            right, no diagonals)
          </p>
          <p>
            4. If you are unable to play a piece, pass your turn so other
            players can still play (automatic turn pass and timer for each turn
            coming soon)
          </p>
          <p>
            5. The player that occupies the most squares after no one can play
            anymore wins
          </p>
          <p>6. To restart refresh the page (restart button coming soon)</p>
          <p>7. Have fun!</p>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
  </body>
</html>
